/* This class ensures the image shown on the homepage is inline with the text and floats to the right */
.img1{
    float: right;
    display: inline;
    margin: 10px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  /*This ensures the footer sticks to the bottom of the page*/
  .footer-div{
    bottom: 0;
    /* width: 85%; */
    height: 60px;
    line-height: 40px;
    text-align: center;
    padding: 20px;
  }
