/* This class ensures the image shown on the homepage is inline with the text and floats to the right */
.img1{
  float: right;
  display: inline;
  margin: 10px;
  height: 350px;
  width: 450px;
}

.header{
  background: url("img/luostars.jpg");
  background-size: cover;
  background-position: center;
}

/* This class ensures that the modal image is centered in the modal itself */
.modal-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}



body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/*This ensures the footer sticks to the bottom of the page*/
.footer-div{
  bottom: 0;
  /* width: 85%; */
  height: 60px;
  line-height: 40px;
  text-align: center;
  padding: 20px;
}

/*Styles the div displaying the Moon phase*/
#ex4 {
  display: table;    
  margin:20px auto;
  text-align: center; 
  height: 200px;
  width: 210px;
  border: 1px solid black;
}
#ex4 [shadow]{
  filter:drop-shadow(0 0 25px rgb(0,50,50));
  padding:15px 0;
  }

#widget{
  display: table;
  margin:20px auto;
  padding: 5px;
  height:320px;
  width: 220px;
}
